<h1>Nova Cozinha</h1>

<%= form_for @cuisine do |f| %>
  <div>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Enviar" %>
<% end %>

<% if @error.present? %>
  <p><%= @error %></p>
<% end %>



