<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to("Enviar uma receita", new_recipe_path) %>


<h1>Cozinhas</h1>
<% @cuisines.each do |c| %>
  <li><%= link_to(c.name, c) %></li>

<% end %>

<h1>Receitas Cadastradas</h1>
<% @recipes.each do |r| %>
  <h1><%= link_to(r.title, r) %></h1>
  <ul>
    <li><%= r.recipe_type %></li>
    <li><%= r.cuisine.name %></li>
    <li><%= r.difficulty %></li>
    <li><%= r.cook_time %> minutos</li>
  </ul>
<% end %>
